language: python
cache: pip
dist: bionic
install: pip install tox
script: tox -e $TOX_ENV

jobs:
  include:
    - stage: test
      python: 3.8
      env: TOX_ENV=django30-py38
    - stage: test
      python: 3.7
      env: TOX_ENV=django30-py37
    - stage: test
      python: 3.6
      env: TOX_ENV=django30-py36
    - stage: test
      python: 3.7
      env: TOX_ENV=django22-py37
    - stage: test
      python: 3.6
      env: TOX_ENV=django22-py36
    - stage: test
      python: 3.7
      env: TOX_ENV=django21-py37
    - stage: test
      python: 3.6
      env: TOX_ENV=django20-py36
    - stage: test
      python: 3.6
      env: TOX_ENV=django111-py36
    - stage: test
      python: 3.6
      env: TOX_ENV=django110-py36
    - stage: test
      python: 3.5
      env: TOX_ENV=django21-py35
    - stage: test
      python: 3.4
      env: TOX_ENV=django20-py34
    - stage: test
      python: 3.4
      env: TOX_ENV=django111-py34
    - stage: test
      python: 3.4
      env: TOX_ENV=django110-py34
    - stage: lint
      install: pip install black
      script: make lint

branches:
  only:
    - master
notifications:
  email: false
